@page "/users"
@using ApiContracts
@using BlazorApp.Services
@inject IUserService UserService

<h3>Users</h3>

@if (users is null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.UserName</li>
        }
    </ul>
}

@code {
    private List<UserDto>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }
}